@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    --jagged-ice: #c5e4e7;
    --white: #fff;
    --sherpa-blue: #00474b;
    --greyish-turquoise: #5e7a7d;
    --topaz: #26c2ae;
    --regent-grey: #7f9d9f;
    --squeeze: #f3f9fa;
    --beetle-green: #547878;
    --water-leaf: #9fe8df;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--jagged-ice);
}

main {
    background-color: var(--white);
    padding: 3.2rem 2.4rem;

    border-radius: 2.5rem 2.5rem 0 0;
}

header {
    padding-top: 5rem;
    padding-bottom: 4rem;

    display: flex;
    justify-content: center;
}

.info {
    padding-inline: 0.8rem;

    div {
        margin-bottom: 3.2rem;
    }

    strong {
        color: var(--greyish-turquoise);
    }

    .input-box {
        margin-top: 0.6rem;
        background-color: var(--squeeze);
        display: flex;
        align-items: center;
        padding: 0.6rem 1.8rem;
        border-radius: 0.5rem;

        input {
            border: none;
            background: transparent;
            text-align: right;
            width: 100%;
            font-size: 2.4rem;
            outline: none;
            font-weight: 700;
            color: var(--sherpa-blue);
        }

        input::placeholder {
            color: var(--sherpa-blue);
            opacity: 0.35;
        }

        &:has(input:focus) {
            outline: 2px solid var(--topaz);
        }
    }
    
    .tip {
        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
            margin-top: 1.6rem;

            input {
                width: 100%;
                font-size: 2.4rem;
                text-align: center;
                border: none;
                background: var(--squeeze);
                border-radius: 0.5rem;
                padding-block: 0.6rem;
                font-weight: 700;
                color: var(--sherpa-blue);
                
                &::placeholder {
                    color: var(--beetle-green);
                }

                &:focus {
                    outline: 2px solid var(--topaz);
                }
            }

            button {
                font-size: 2.4rem;
                background: var(--sherpa-blue);
                color: var(--white);
                font-weight: 700;
                border: none;
                padding-block: 0.6rem;
                border-radius: 0.5rem;
            }

            .button-selected {
                background: var(--topaz);
            }
        }
    }
}

.results {
    background: var(--sherpa-blue);
    border-radius: 1.5rem;
    padding: 2.4rem;

    .amount,
    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        p {
            color: var(--white);
            font-weight: 700;

            span {
                color: var(--regent-grey);
                font-size: 1.3rem;
            }
        }

        strong {
            color: var(--topaz);
            font-size: 3.2rem;
        }
    }

    button {
        margin-top: 1.6rem;
        width: 100%;
        background: var(--topaz);
        border: none;
        border-radius: 0.5rem;
        padding-block: 0.9rem;
        font-size: 2rem;
        color: var(--sherpa-blue);
        font-weight: 700;
        text-transform: uppercase;
    }
    
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

@media(min-width: 920px) {
    header {
        padding-top: 5rem;
    }

    main {
        display: flex;
        max-width: 92rem;
        margin-inline: auto;
        padding: 4.8rem;
        border-radius: 2.5rem;
        gap: 4.8rem;

        section {
            width: 100%;
        }

        .info {
            .tip div {
                grid-template-columns: repeat(3, 1fr);

                button:hover {
                    background: var(--water-leaf);
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4rem;

        .amount strong,
        .total strong {
            font-size: 4.8rem;
        }

        button:hover {
            background: var(--water-leaf);
            transition: 0.3s;
            cursor: pointer;
        }
    }
}