@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    --bg-body: #c5e4e7;
    --bg-main: #fff;
}

body {
    background-color: var(--bg-body)
}

main {
    background-color: var(--bg-main);
}